.ui-landing-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 150px;
    background: linear-gradient(45deg, #F8E831,#047BD5);
}