@import '~scss/app.theme.scss';

.view-generic-button{
    &__container{
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    &--small{
        width : 100px;
        height : 25px;
    }

    &--lined{
        border: 2px solid $theme-secondary-color;
    }
}