@import '~scss/app.theme.scss';

%text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

button {
    outline: none;
    border: 0;
}

.view-generic-button{
    $__main__ : &;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;

    &__holder{
        display: flex;
        align-items: center;
        
        &--left{
            flex-direction: row-reverse;
        }
    }

    &--small{
        @extend %text-overflow-ellipsis;
        min-width: 120px;
        padding: 8px 16px;
    }

    &--medium{
        @extend %text-overflow-ellipsis;
        min-width: 135px;
        padding: 10px 20px;
    }

    &--large{
        @extend %text-overflow-ellipsis;
        min-width: 150px;
        padding: 15px 30px;
    }

    &--disabled{
        opacity: 0.5;
        cursor:not-allowed;
    }

    &--without-margin{
        margin: 0;
    }

    &__icon {
        // icon-size is 4px more than its respective font-size in each case
        &--small {
            width: 18px;
            height: 18px;
            margin: 3px;   
        }
        &--medium {
            width: 20px;
            height: 20px;
            margin: 4px;   
        }
        &--large {
            width: 22px;
            height: 22px;
            margin: 5px;   
        }
    }

    &__icon--left {
        flex-direction: row-reverse;
    }

    &--lined{
        border: 2px solid $theme-secondary-color;
        background: $theme-white;
        color: $theme-secondary-color;
        &--red {
            border: 2px solid red;
        }
        &--blue {
            border: 2px solid blue;
        }
    }

    &--filled{
        color:$theme-white;
        background: $theme-secondary-color;
        border: 2px solid $theme-secondary-color;
    }

    &__change-filled-on-hover:hover{
        border: 2px solid $theme-secondary-color;
        background: $theme-white;
        color: $theme-secondary-color;
    }

    &__change-lined-on-hover:hover{
        border: 2px solid $theme-secondary-color;
        background: $theme-secondary-color;
        color:$theme-white;
    }

    &__label{
        &--small{
            font-size: 14px;
        }
        &--medium{
            font-size: 16px;
        }
        &--large{
            font-size: 18px;
        }
        &--red{
            color: red;
        }
        &--blue{
            color: blue;
        }
    }
}