@import '~scss/app.theme.scss';

%text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

button {
    outline: none;
    border: 0;
}

.view-generic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin: 10px;

    &--small{
        @extend %text-overflow-ellipsis;
        min-width: 120px;
        padding: 8px 16px;
    }

    &--medium{
        @extend %text-overflow-ellipsis;
        min-width: 135px;
        padding: 10px 20px;
    }

    &--large{
        @extend %text-overflow-ellipsis;
        min-width: 150px;
        padding: 15px 30px;
    }

    &--disabled{
        opacity: 0.5;
        cursor:not-allowed;
    }

    &__icon {
        // icon-size is 2px more than its respective font-size in each case
        &--small {
            width: 16px;
            height: 16px;
            margin: 3px;   
        }
        &--medium {
            width: 18px;
            height: 18px;
            margin: 4px;   
        }
        &--large {
            width: 20px;
            height: 20px;
            margin: 5px;   
        }
    }

    &__icon--left {
        flex-direction: row-reverse;
    }

    &--lined{
        border: 2px solid $theme-secondary-color;
        color: $theme-secondary-color;
        &:hover {
            background: $theme-primary-color;
            color:$theme-white;
            cursor: pointer;
        }
    }

    &--filled{
        color:$theme-white;
        background: $theme-secondary-color;
        border: 2px solid $theme-secondary-color;
        &:hover {
            background: $theme-white;
            color: $theme-primary-dark-color;
            cursor: pointer;
        }
    }

    &__label{
        &--small{
            font-size: 14px;
        }
        &--medium{
            font-size: 16px;
        }
        &--large{
            font-size: 18px;
        }
    }
}