$base-assets: '~assets';
@import './roboto.scss';

%font-primary-thin {
	font-family: "Roboto", sans-serif !important;
	font-weight: 100 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%font-primary-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%font-primary-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%font-primary-bold {
	font-family: "Roboto", sans-serif !important;
	font-weight: 700 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%font-primary-ultra-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
