
$font-size-h1: 24px;
$font-size-h2: 22px;

$font-size-h3: 20px;
$font-size-h4: 18px;

$font-size-h5: 16px;
$font-size-h6: 14px;

$font-size-super1: 40px;
$font-size-super2: 38px;
$font-size-super3: 36px;
$font-size-super4: 34px;
$font-size-super5: 32px;
$font-size-super6: 30px;

